*{
    margin: 0;
    padding: 0;  
}
.body{
    font-family: sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    
}
.top_box{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.top{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.header{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    padding-top: 42px;
}
.top_button{
    font-size: 16px;
    line-height: 26px;    
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}
.top_heading{
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}
.top_info{
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(../img/top_back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}
.top_text{
    width: 425px;
}
.text{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}
.text_project{
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align:center;
}
.heading{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}
.what-we-do{
    padding-top: 64px;
}
.card{
    width: 359px; 
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.card-box{
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}
.card_img{
    align-self: center;
    margin-bottom: 51px;
}
.heading-mini{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}
.card_link{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;   
    color: #1F3F68;
    text-decoration: none;
}
.project_img{
    width: 100%;
}
.project_item{
    position: relative;
    flex-grow: 1;
}
.project_item_margin{
    margin-right: 32px;
}
.project_text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}
.project_text_left{
    font-size: 28px;
    line-height: 46px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}
.project_parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.footer{
    min-height: 657px;
    background-color: #316099;
    margin-top: 112px;
}
.heading_footer{
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 340px;
}
.box_footer{
    display: flex;
    justify-content: space-between;  
}
.text_footer_block{
    padding-top: 91px;
}
.text_footer{
    font-size: 16px;
    line-height: 26px;    
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 32px;
    width: 495px;    
}
.footer_button{
    font-size: 16px;
    line-height: 26px;    
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 50px;
    text-decoration: none;    
}
.footer_button_box{
    margin-top: 165px;  
}
.copyright{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}
.line{
    margin-top: 96px;
    border:none;
    border-top: 1px solid #FFFFFF;
    opacity: 0.4;
}
.contact-list{
    list-style-type: decimal;
    list-style-position: inside;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-top: 64px;
    padding-bottom: 64px;
}
.contact_space{
    display: flex;
    justify-content: space-between;  
}
/* contacts*/
.container_contact{
    max-width: 940px;
    margin: 0 auto; 
}
.top_contact{
    min-height: 436px;
    background-image: url(../img/contact_back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1366px;
}
.headingtwo{
    padding-top: 51px;
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    
}
.headingfour{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.text_contact{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 16px;
}
.phone{
    list-style-image: url(../img/phone.svg);
    list-style-position: inside;
}
.service{
    list-style-image: url(../img/net.svg);
    list-style-position: inside;
}
.contact_info{
    max-width: 300px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.link-contact{
    text-decoration: none;
}
.email{
    list-style-image: url(../img/email.svg);
}
.contact_form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px;
    width: 540px;
    height: 800px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}
.inputclass{
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    height: 72px;
}
.textarea{
    height: 144px;
}
.btn{
    width: 100%;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.map{
    margin-top: 96px;
}
.map_contact{
    width: 100%;
    height: 480px;
}

@media (max-width: 1024px){
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }    
    .top_info{
        background-position: right 250px;  
    }
    .text_contact{
        padding-left: 0;
        padding-right: 0;
    }
    .card-box{
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-bottom: 32px;
    }
    .footer{
        min-height: 644px;
        margin-top: 109px;
    }
    .box_footer{
        max-width: 520px;
        margin: 0 auto;
    }
    .text_footer{
        max-width: 336px;
    }
    .text_footer_block{
        padding-top: 47px;
        box-sizing: border-box;  
    }
    .footer_button{
        padding: 10px 30px;
    }
    .line{
        margin-top: 64px;
    }
    .box_copyright{
        max-width: 520px;
        margin: 0 auto;
    }
    .contact-list{
        flex-direction: column;
    }
    /*contact*/
    .container_contact{
        padding-left: 124px;
        padding-right: 124px; 
        height: 100%;
    }
    .contact_space{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact_form{
        width: 520px;
        height: 780px;
        margin-top: 64px;
    }
    .map{
        padding-left: 0;
        padding-right: 0;
        margin-top: 64px;
    }
    .footer_contact{
        margin-top: 64px;
    }
    .form_heading{
        width: 50%;
    }
    .contact_info{
        min-height: 700px;
        padding: 0;
    }
}
@media (max-width: 667px){
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }.top{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;        ;
    }
    .header{
        padding-top: 24px;
    }
    .top_info{
        padding-top: 36px;
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top_heading{
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }
    .top_text{
        width: 100%;
        text-align: center;
    }
    .top_button{
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }
    .heading{
        font-size: 24px;
        line-height: 20px;
    }
    .what-we-do{
        padding-top: 48px;
    }
    .card-box{
        padding-top: 32px;
    }
    .card{
        width: 100%;
    }
    .text_project{
        width: 100%;
    }
    .project_text{
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .project_text_left{
        left: 16px;
    }
    .project_parent{
        flex-direction: column;
        margin-top: 16px;
    }
    .project_item_margin{
        margin: 0;
        margin-bottom: 16px;
    }
    .footer{
        min-height: 542px;
        margin-top: 64px;
    }
    .heading_footer{
        text-align: center;
        font-size: 24px;
        line-height: 28px;
    }
    .text_footer{
        text-align: center;
    }
    .footer_button_box {
        margin-top: 40px;
    }
    .box_footer{
        flex-direction: column;
        align-items: center;
    }
    .line{
        margin-top: 41px;
    }
    .box_copyright{
        max-width: 340px;
    }
    .contact-list{
        padding-top: 32px;
    padding-bottom: 32px;
    }
    .copyright{
        text-align: center;
        padding-bottom: 32px;
    }

    /*contact*/
    .headingtwo{
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;  
    }
    .text_contact{
        padding-top: 32px;
        font-size: 16px;
        line-height: 30px;
    }
    .container_contact{
        padding-left: 17px;
        padding-right: 17px; 
    }
    .footer_contact{
        margin-top: 32px;
    }
    .contact_form{
        margin-top: 32px;
        width: 100%;
        min-height: 514px;
    }
    .map{
       margin-top: 32px;
    }
}

















.inputclass{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.btn{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
